{% extends 'base.html' %}

{% block titulo %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'img/contact-bg.jpg' %}{% endblock %}

{% block cabecera %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock %}

{% block contenido %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p></p>
        <br>
        <p><b>Teléfono:</b> +54 9 224 5789565</p>
        <p><b>Localidad:</b> Argentina, Buenos Aires, Mar del Plata</p>
        <!--<p><b>Honorarios:</b>  (precio base)</p>-->
    </div>
</div>
{% endblock %}
